


#ad{
  padding-left: 450px;
}

.no1{
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0; 
    color: white;
    width: 320px;
    height: 40px;

    }
.no1{
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0; 
    color: white;
    width: 320px;
    height: 40px;

    
}


.no2{
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: 0; 
    color: white;
    width: 1000px;
    border-bottom-width: 2px;
    

}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}


